<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanghai.study.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shanghai.study.model.User">
        <result column="id" property="id" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_account" property="userAccount" />
        <result column="password" property="password" />
        <result column="user_no" property="userNo" />
        <result column="user_name" property="userName" />
        <result column="user_status" property="userStatus" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="process_status" property="processStatus" />
        <result column="create_id" property="createId" />
        <result column="update_id" property="updateId" />
        <result column="certificate_no" property="certificateNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        is_deleted,
        create_time,
        update_time,
        user_account, password, user_no, user_name, user_status, phone, email, process_status, create_id, update_id, certificate_no
    </sql>

</mapper>
